.box{
display: flex;
justify-content: space-evenly;
}
.box .b-left{
float: left;
padding:1px;
}
.box .b-right{
float: right;
padding:1px;
}
.img-flex {
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
}
.img-flex img {width: calc(50% - 2px);}
@media (max-width: 768px){
.box{
text-align: center;
display: block;
}
.box .b-left{
float: none;
}
.box .b-right{
float: none;
}
}