@charset "UTF-8";
/* CSS Document */

/* all design */
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 14px;
}

a:hover  { text-decoration: none }

	
.glmenu_bottom { margin-left: 30px; } 	.glmenu_bottom ul { overflow: hidden; margin-left: -1px; margin-bottom: 0px; } 	.glmenu_bottom li { padding: 0 10px; list-style: none; float: left; border-left: 1px solid #666; } 	p.copyright { text-align:center; padding-top: 35px; }


/* ****************imai design****************** */
/* id:content_wrapper design*/

a:hover  { text-decoration: none }

	/* content_left :: content_wrapper */
	dt.content_title01_bar { background: url(../img/content_title_01.gif) no-repeat; display: block; width: 483px; height: 0px; padding-top: 32px; margin-left: 0px; overflow: hidden; }
	h2.content_title01 { width: 370px; background-position: 0px 0px; }
	.content_title01 h2 { height: 0px; }

	
		/* item_creaner :: content_right :: content_wrapper */
	.sab_menu_supplementary { width: 172px; margin-top: 20px; padding-bottom: 20px; border-bottom-width: 1px; border-bottom-style: dotted; border-bottom-color: #CCC; }
	
	.sab_menu_supplementary_title {text-align: left; margin-left: 20px; margin-bottom:10px; color: #666 ;
		
	}
	
	.sab_menu_supplementary_more {width: 40px; text-align: right; margin-right: 0px; background-image: url(../img/yazirushi_s.gif); background-repeat: no-repeat; background-position: left;  }

		h2.content_title02 { margin-bottom: 15px; }
        .item_serch { width: 600px; background:url(../img/item_photo01.gif) no-repeat; height: 0px; padding-top: 189px; }
		ul.item_serch { width: 600px; }
		dt.item_serch_top { width: 195px; float: left; list-style-type: none; margin-left: 0px; }
		.item_serch_corstar { width: 195px; float: left; margin-top: -189px; margin-left: 194px; list-style-type: none; }
		.item_serch_top_keyholder { width: 93px; float: left; margin-top: -189px; margin-left: 387px; list-style-type: none; }
		.item_serch_top_mobilestorap { width: 195px; float: left; margin-top: -93px; margin-left: -6px; list-style-type: none; text-align: right;}
		.item_serch_top_mobilecreanor { width: 195px; float: left; margin-top: -93px; margin-left: 100px; list-style-type: none; text-align: right;}
		.item_serch_top_mobilecreanor_IE { width: 195px; float: left; margin-top: -93px; margin-left: 188px; list-style-type: none; text-align: right;}
		.item_serch_top_mobilecreanor_FF { width: 195px; float: left; margin-top: -93px; margin-left: 188px; list-style-type: none; text-align: right;}
		.item_serch_top_smartphone { width: 195px; float: left; margin-top: -93px; margin-left: 382px; list-style-type: none; text-align: right;}
		
		.orizinal_creaner_tokucyou {list-style-type: none; margin-top: 40px; margin-right:0px; margin-bottom: 0px; margin-left:40px; background-image: url(../img/item_yazirushi.gif); background-repeat: no-repeat; padding-left: 40px; padding-top:5px; height:20px; }
		
		.creaner_point { margin-top: 60px;}
		
		.crener_point01_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.creaner_point01_photo { margin-top: 10px; margin-right:5px; margin-bottom: 20px; margin-left: 5px; }
		.creaner_point01_photo01{ width: 210px; float:left; list-style-type: none; margin-left:25px;}
		.creaner_point01_photo02{ width: 210px; float:left; list-style-type: none;}
		
		
		
		.crener_point02_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.creaner_point02_photo { text-align: center; margin-top: 10px; margin-bottom: 10px;}
		
		
		.crener_point03_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		
		
		.creaner_color { margin-top: 60px;}
		.creaner_color_title{ margin-bottom: 50px; }
		.creaner_color_8{ margin-left:50px;}
		.creaner_color_Type{ list-style-type: none; width: 150px; float: left; margin-top:5px; margin-left:5px; margin-bottom:10px; margin-left:5px;}
		
		
		
	    /* item_top :: content_right :: content_wrapper */
	    .supplementary_more { margin-top: 50px; margin-left:50px; margin-bottom: 20px; }
	    .supplementary_more_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
	    .supplementary_more dd {margin-top: 10px; margin-bottom: 20px;line-height: 25px; padding-left:30px; }
		
		
		/* item_keyholder :: content_right :: content_wrapper */
		
		ul .orizinal_keyholder_tokucyou {list-style-type: none; margin-top: 40px; margin-right:0px; margin-bottom: 0px; margin-left:40px; background-image: url(../img/item_yazirushi.gif); background-repeat: no-repeat; padding-left: 40px; padding-top:5px; height:20px; }
		
		.keyholder_point { margin-top: 60px;}
		
		.keyholder_point01_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.keyholder_point01_photo { margin-top: 10px; margin-right:5px; margin-bottom: 20px; margin-left: 5px; }
		.keyholder_point01_photo01{ width: 210px; float:left; list-style-type: none; margin-left:-50px;}
		.keyholder_point01_photo02{ width: 210px; float:left; list-style-type: none;}
		
		
		
		.keyholder_point02_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.keyholder_point02_photo { text-align: center; margin-top: 10px; margin-bottom: 10px;}
		
		
		.keyholder_point03_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		
		.keyholder_point04_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		
		.tableAllL { width: 400px; border-collapse: collapse; margin-right: 66px; }
		.table_left {height:40px; text-align: center; }
        .table_center{height:40px; text-align: center; }
		.table_right{height:40px; text-align: center; }
		
		.color1{ background-color: #ffffcc;}

		.color2{ background-color: #ffcc99; }
		
		/* item_mobilestrap :: content_right :: content_wrapper */
		
		ul .orizinal_strap_tokucyou {list-style-type: none; margin-top: 40px; margin-right:0px; margin-bottom: 0px; margin-left:40px; background-image: url(../img/item_yazirushi.gif); background-repeat: no-repeat; padding-left: 40px; padding-top:5px; height:20px; }
		
		.strap_point {
	margin-top: 20px;
}
		
		.strap_point01_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.strap_point01_photo { margin-top: 10px; margin-right:5px; margin-bottom: 20px; margin-left: 5px; }
		.strap_point01_photo01{list-style-type: none; margin-left:-70px; }
		
		
		
		.strap_point02_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.strap_point02_photo { text-align: center; margin-top: 10px; margin-bottom: 10px;}
		
		.strap_point03_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		
		
		
		
		.strap_matsuba { clear: both; margin-top: 30px; margin-left:20px; margin-bottom: 30px; }
		
		.strap_toritsuke {width: 210px; float: left; margin-top: 30px; margin-right: 10px; margin-bottom: 10px; margin-left: 10px; }
		
		.strap_supplementary { padding-left: 10px; line-height: 20px;}
		
		/* item_corstar :: content_right :: content_wrapper */
		
		ul .orizinal_corstar_tokucyou {list-style-type: none; margin-top: 40px; margin-right:0px; margin-bottom: 0px; margin-left:40px; background-image: url(../img/item_yazirushi.gif); background-repeat: no-repeat; padding-left: 40px; padding-top:5px; height:20px; }
		
		.corstar_point { margin-top: 60px;}
		
		.corstar_point01_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.corstar_point01_photo { margin-top: 10px; margin-right:5px; margin-bottom: 20px; margin-left: 5px; }
		.corstar_point01_photo01{list-style-type: none; margin-left:-70px; }
		
		
		
		.corstar_point02_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		.corstar_point02_photo { text-align: center; margin-top: 10px; margin-bottom: 10px;}
		
		.corstar_point03_title {background-image: url(../img/item_yazirushi.gif); background-repeat:no-repeat; height:30px; padding-top: 7px; padding-left:35px;}
		
		.corstar_point03_huti { margin-bottom: 40px;}
		
/*--3d---*/		
		
.d_img1{
	background-image:url(../img/3d_1.jpg);
	width:504px;
	height:147px;
	margin-left:30px;
	margin-bottom:20px;
}
.d_img2{
	background-image:url(../img/3d_2.jpg);
	width:504px;
	height:147px;
	margin-left:30px;
	margin-bottom:20px;
}
.d_img3{
	background-image:url(../img/3d_3.jpg);
	width:504px;
	height:277px;
	margin-left:30px;
	margin-bottom:20px;
}
.d_img4{
	background-image:url(../img/earphone_01.jpg);
	width:500px;
	height:188px;
	margin-left:30px;
	margin-bottom:20px;
}
.d_img5{
	background-image:url(../img/earphone_03.jpg);
	width:500px;
	height:188px;
	margin-left:30px;
	margin-bottom:20px;
}


.d_Group{
	margin-top:20px;
	width:550px;
	
}

.d_TEXT1{
	line-height: 20px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-top: 15px;

}
.d_TEXT1-2{
	line-height: 18px;
	margin-left: 45px;
	margin-right: 30px;
	margin-bottom: 5px;
	margin-top: 5px;

}
.d_LText1{
	line-height:20px;
	word-spacing: inherit;
	float:left;
	width:330px;
	margin-top: 8px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:20px;
}
.d_RText1{
	line-height:20px;
	word-spacing: inherit;
	float:right;
	width:320px;
	margin-top: 8px;
	margin-left:30px;
	margin-right:30px;
	margin-bottom:20px;
}
.d_RPhoto1{
	background-image:url(../img/3d_4.jpg);
	float:right;
	width:160px;
	height:133px;
}
.d_RPhoto2{
	background-image:url(../img/3d_5.jpg);
	float:right;
	width:160px;
	height:133px;
}
.d_RPhoto3{
	background-image:url(../img/earphone_02.jpg);
	float:right;
	width:229px;
	height:120px;
}
.d_TaAll{
	width:504px;
	border: #b3b3b3 1px solid;
	margin-bottom:20px;
   
}
.d_TaTop{
	background-color: #808080;
	color: #FFFFFF;
	font-weight: normal;
	line-height: 200%;
	text-align: center;
}
.d_TaBott{
	text-align: center;
	border-bottom: 1px #6e6d6d;
	padding-left: 10px;
	line-height: 200%;
	background-color: #D9D9D9;
}


.faq_ttl {
	font-size: 130%;
	font-weight: bolder;
	padding-bottom: 20px;
	color: #FF6666;
	line-height: 130%;
}

.faq_q_txt {
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-top-color: #6E6D6D;
	border-right-color: #6E6D6D;
	border-bottom-color: #6E6D6D;
	border-left-color: #6E6D6D;
	top: 30px;
	font-size: 115%;
	line-height: 140%;
	font-weight: bolder;
}
.faq_tag {
	font-size: 100%;
	font-weight: bold;
	border: 2px dotted #E50011;
	padding: 15px;
}
#wrapper #index table tr td a img {
	padding: 3px;
	vertical-align: middle;
}
.menu_index_01 {
	background-image: url(../img/index_tag_strap.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_02 {
	background-image: url(../img/index_tag_key.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_03 {
	background-image: url(../img/index_tag_coaster.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_04 {
	background-image: url(../img/index_tag_cleaner.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_05 {
	background-image: url(../img/index_tag_keycover.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_06 {
	background-image: url(../img/index_tag_stand.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_07 {
	background-image: url(../img/index_tag_ear.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_08 {
	background-image: url(../img/index_tag_curve.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_09 {
	background-image: url(../img/index_tag_info.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_10 {
	background-image: url(../img/index_tag_offset.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_11 {
	background-image: url(../img/index_tag_kairo.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_12 {
	background-image: url(../img/index_tag_glove.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_13 {
	background-image: url(../img/index_tag_3dcharm.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_14 {
	background-image: url(../img/index_tag_pbholder.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_15 {
	background-image: url(../img/index_tag_reflecter.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_16 {
	background-image: url(../img/index_tag_stitchseal.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_17 {
	background-image: url(../img/index_tag_metal_charm.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_18 {
	background-image: url(../img/index_tag_coolbag.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_19 {
	background-image: url(../img/index_cp.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_20 {
	background-image: url(../img/index_tag_mirror.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_21 {
	background-image: url(../img/index_tag_led.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_22 {
	background-image: url(../img/index_tag_baghanger.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_23 {
	background-image: url(../img/index_tag_qssystem.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_24 {
	background-image: url(../img/index_tag_jogbottles.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_25 {
	background-image: url(../img/index_tag_beach.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_26 {
	background-image: url(../img/index_tag_kairo_cool.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_27 {
	background-image: url(../img/index_acrylic.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_28 {
	background-image: url(../img/index_stubby.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_29 {
	background-image: url(../img/index_bp.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_30 {
	background-image: url(../img/index_haizara.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_31 {
	background-image: url(../img/index_tag_pvc_hariawase.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_32 {
	background-image: url(../img/index_tag_polyresign.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_33 {
	background-image: url(../img/index_tag_injection.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_34 {
	background-image: url(../img/index_tag_led_original.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_35 {
	background-image: url(../img/index_tag_led_penlight.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}
.menu_index_36 {
	background-image: url(../img/index_tag_led_stock.gif);
	background-repeat: no-repeat;	background-position: 0px 0px;
	height: 43px;
	padding-left: 100px;
}

#wrapper #main_site #all_items table {
	margin-top: 40px;	
}
.tbl_s{
	line-height: 1.1;
	overflow-x:none;
}
.tbl-1 {
	line-height:1.1
}
.tbl-2 {
	line-height:1.2;
	border-collapse:collapse;
	margin-top:10px;
}
.tbl-2 th {
	padding:2px;
	text-align:center;
	background-color:#EFEFEF;
	border:1px solid #666666;
}
.tbl-2 td {
	padding:2px;
	text-align:left;
	border:1px solid #666666;
}
.tbl-2 td.center {
	text-align:center;
}
.tbl-3 {
	width:100%;
	line-height:1.2;
	border-collapse:collapse;
	margin-top:10px;
}
.tbl-3 th {
	padding:2px;
	border-top:1px solid #666666;
}
.tbl-3 th.right {
	text-align:right;
}
.tbl-3 td {
	padding:2px;
	text-align:left;
}
.tbl-3 td.right {
	text-align:right;
}
.tbl-4 {
	line-height:1.2;
	border-collapse:collapse;
	margin-top:0px;
}
.tbl-4 th {
	padding:2px;
	text-align:center;
	background-color:#EFEFEF;
	border:1px solid #666666;
}
.tbl-4 td {
	padding:2px;
	text-align:left;
	border:1px solid #666666;
}
.tbl-4 td.center {
	text-align:center;
}
.tbl-4 td.small {
	font-size: 0.8em;
}

.column1{
	float:left;
	margin-left:30px;
	width:350px;
}
.column2{
	float:right;
	margin-right:30px;
	width:350px;
}

.slideBox {
	display:none;
	margin-bottom:20px;
}

.campaign {
	font-size: 1.2em;
}
.campaign h1 {
	padding:0 !important;
	margin:0 !important;
	background: none;
}

@media screen and ( max-width: 768px ) {
	.column1, .column2 {
		float:none;
		width: 100%;
		margin-left:0;
	}
	.column2 {
		margin-top: 10px;
	}
	.column1 img, .column2 img {
		width:50%;
		height: auto;
	}
	.imgsmall img {
		width:10% !important;
		height: auto;
	}
	.smalltbl {
		font-size:70%;
	}
	.d_TEXT1, .d_TEXT1-2 {
		margin-left:0;
	}
	h3.mleft {
		margin-left:0;
		padding-left:0;
	}
	.d_LText1, .d_RText1, .d_RPhoto1, .d_RPhoto2, .d_RPhoto3 {
		float:none;
		width: auto;
		margin-left:0;
		margin-right:0;
	}
	.d_TaAll, .d_Group {
		width: auto;
	}
	.d_img1, .d_img2, .d_img3, .d_img4, .d_img5 {
		max-width: 100%;
	}
	.tbl-1, .tbl-2, .tbl-3, .tbl-4, .tbl-5{
		width: 100%;
	}
	.tbl_s{
		width: 100% !important;
		overflow-x:scroll;
	}
	a img {width:80%;}
	
	/*.mark {
		margin-top: 0px !important;
	}
	.mark img {
		max-width: 80%;
	}*/
	.mark{
		display: none;
	}
	.campaign {
		font-size: 1.4em;
	}
	.campaign table {
		width: 100%
	}
	.campaign td {
		font-size: 85% !important;
	}
}