@charset "utf-8";
/* CSS Document */
.TitleCompany{
	background: url(../img/company_title.gif);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width: 771px;
	height: 0px;
	padding-top: 34px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 30px;
}
.subMenuCompany{
		background:url(../company/img/sub.jpg) no-repeat;
		width: 90px;
		height: 0px;
		padding-top: 19px;
		overflow: hidden;
		margin:0px 0px 10px 55px;
	}

.TableCompanyAll{
	width:650px;
	margin:0 auto;
	
}
	dl {
			width:650px;
			border: #b3b3b3 1px solid;
			margin:10px 0px 10px 0px;
			
		}
		
		dt {
			width: 300px;  
			font-weight: bold;
			background-color:#8c8c8c;
			color:#FFFFFF;
			font-weight:normal;
			height:30px;
			
		
			
		}
		
		dd {
			width: 350px; 
			padding: 0px 3px 0px 20px;  
			margin:-30px 0px 0px 90px;
			height:30px;
		

		
		
		}
.LineCompany{
	border-bottom:dotted 1px #6e6d6d;
	width: 350px; 

}
.TableAllL{
 				width:650px;
                border: #b3b3b3 1px solid;
                margin:10px 0px 10px 0px;
}
.TableLeft{
				width: 180px;
                background-color:#8c8c8c;
                color:#FFFFFF;
                font-weight:bold;
                padding-left:20px;
				line-height:200%;

}
.TableRight{
	width: 440px;
	text-align:left;
	border-bottom:dotted 1px #6e6d6d;
	padding-left:10px;
	line-height:200%;
	color: #666666;
             
				
}

@media screen and ( max-width: 768px ) {
	.TitleCompany, .TableCompanyAll, .TableAllL {
		width: 100%;
	}
	.subMenuCompany {
		margin:0px 0px 10px 0;
	}
	dl {
		width:100%;
	}
	dt {
		width:30%;
	}
	dd {
		width:70%;
	}
	.TableLeft {
		width:30%;
		padding-left:0;
	}
	.TableRight {
		width:70%;
		padding-left:0;
	}
	.LineCompany {
		width:auto;
	}
}
