.HDeSAll01{
	width:800px;
	margin: 10px auto 20px auto;
}
.HDeSAll02{
	width:900px;
	margin: 10px auto 50px auto;
}
.HDeS01{
	background-image:url(../howtodesign/img/p01.jpg);
	background-repeat:no-repeat;
	width:796px;
	height:94px;
	margin: 0px auto 10px auto;
}
.HDeS02{
	background-image:url(../howtodesign/img/p02.jpg);
	background-repeat:no-repeat;
	width:796px;
	height:92px;
	margin: 0px auto 0px auto;
}
.HDeSPT00{
	background-image:url(../howtodesign/img/t00.png);
	background-repeat:no-repeat;
	width:630px;
	height:28px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS001{
	background-image:url(../howtodesign/img/s13.png);
	background-repeat:no-repeat;
	width:315px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPS002{
	background-image:url(../howtodesign/img/s14.png);
	background-repeat:no-repeat;
	width:497px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPS003{
	background-image:url(../howtodesign/img/s15.png);
	background-repeat:no-repeat;
	width:208px;
	height:22px;
	margin: 0px 0px 0px 0px;
}

.HDeSPT01{
	background-image:url(../howtodesign/img/t01.jpg);
	background-repeat:no-repeat;
	width:348px;
	height:126px;
	margin: 0px auto 10px auto;
}
.HDeSPT02{
	background-image:url(../howtodesign/img/t02.jpg);
	background-repeat:no-repeat;
	width:385px;
	height:26px;
	margin: 0px 0px 20px 0px;
}
.HDeSPT03{
	background-image:url(../howtodesign/img/t03.jpg);
	background-repeat:no-repeat;
	width:278px;
	height:41px;
	margin: 0px 0px 20px 0px;
}
/*--1--*/
.HDeSPT04{
	background-image:url(../howtodesign/img/t04.jpg);
	background-repeat:no-repeat;
	width:453px;
	height:27px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS01{
	background-image:url(../howtodesign/img/s01.jpg);
	background-repeat:no-repeat;
	width:395px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP03{
	background-image:url(../howtodesign/img/p03.jpg);
	background-repeat:no-repeat;
	width:341px;
	height:151px;
	margin: 0px 0px 0px 0px;
}
/*--2--*/
.HDeSPT05{
	background-image:url(../howtodesign/img/t05.jpg);
	background-repeat:no-repeat;
	width:310px;
	height:28px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS02{
	background-image:url(../howtodesign/img/s02.jpg);
	background-repeat:no-repeat;
	width:128px;
	height:21px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP04{
	background-image:url(../howtodesign/img/p04.jpg);
	background-repeat:no-repeat;
	width:149px;
	height:75px;
	margin: 0px auto 0px auto;
}

/*-----*/
.HDeSPS03{
	background-image:url(../howtodesign/img/s03.jpg);
	background-repeat:no-repeat;
	width:148px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP05{
	background-image:url(../howtodesign/img/p05.jpg);
	background-repeat:no-repeat;
	width:220px;
	height:84px;
	margin: 0px auto 0px auto;
}
.HDeSPP05-1{
	background-image:url(../howtodesign/img/p14.jpg);
	background-repeat:no-repeat;
	width:415px;
	height:279px;
	
}
.HDeSPP05-2{
	background-image:url(../howtodesign/img/p15.jpg);
	background-repeat:no-repeat;
	width:415px;
	height:150px;
	
}


/*-----*/
.HDeSPS04{
	background-image:url(../howtodesign/img/s04.jpg);
	background-repeat:no-repeat;
	width:237px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP06{
	background-image:url(../howtodesign/img/p06.jpg);
	background-repeat:no-repeat;
	width:202px;
	height:109px;
	margin: 0px auto 0px auto;
}
/*--3--*/
.HDeSPT06{
	background-image:url(../howtodesign/img/t06.jpg);
	background-repeat:no-repeat;
	width:234px;
	height:27px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS05{
	background-image:url(../howtodesign/img/s05.jpg);
	background-repeat:no-repeat;
	width:183px;
	height:24px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP07{
	background-image:url(../howtodesign/img/p07.jpg);
	background-repeat:no-repeat;
	width:322px;
	height:40px;
	margin: 0px auto 0px auto;
}
/*-----*/
.HDeSPS06{
	background-image:url(../howtodesign/img/s06.jpg);
	background-repeat:no-repeat;
	width:183px;
	height:21px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP08{
	background-image:url(../howtodesign/img/p08.jpg);
	background-repeat:no-repeat;
	width:325px;
	height:131px;
	margin: 0px auto 0px auto;
}
/*----*/
.HDeSPT07{
	background-image:url(../howtodesign/img/t07.jpg);
	background-repeat:no-repeat;
	width:236px;
	height:26px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS07{
	background-image:url(../howtodesign/img/s07.jpg);
	background-repeat:no-repeat;
	width:93px;
	height:24px;
	margin: 0px 0px 0px 0px;
}
/*--4--*/
.HDeSPT08{
	background-image:url(../howtodesign/img/t08.jpg);
	background-repeat:no-repeat;
	width:141px;
	height:25px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS08{
	background-image:url(../howtodesign/img/s08.jpg);
	background-repeat:no-repeat;
	width:129px;
	height:25px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP09{
	background-image:url(../howtodesign/img/p09.jpg);
	background-repeat:no-repeat;
	width:326px;
	height:143px;
	margin: 0px auto 0px auto;
}
/*----*/
.HDeSPS09{
	background-image:url(../howtodesign/img/s09.jpg);
	background-repeat:no-repeat;
	width:110px;
	height:22px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP10{
	background-image:url(../howtodesign/img/p10.jpg);
	background-repeat:no-repeat;
	width:233px;
	height:255px;
	margin: 0px auto 0px auto;
}
/*----*/
.HDeSPS10{
	background-image:url(../howtodesign/img/s10.jpg);
	background-repeat:no-repeat;
	width:74px;
	height:23px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP11{
	background-image:url(../howtodesign/img/p11.jpg);
	background-repeat:no-repeat;
	width:116px;
	height:201px;
	margin: 0px auto 0px auto;
}
/*----*/
.HDeSPS11{
	background-image:url(../howtodesign/img/s11.jpg);
	background-repeat:no-repeat;
	width:92px;
	height:19px;
	margin: 0px 0px 0px 0px;
}
.HDeSPP12{
	background-image:url(../howtodesign/img/p12.jpg);
	background-repeat:no-repeat;
	width:276px;
	height:242px;
	margin: 0px auto 0px auto;
}
/*--5--*/
.HDeSPT09{
	background-image:url(../howtodesign/img/t09.jpg);
	background-repeat:no-repeat;
	width:94px;
	height:27px;
	margin: 0px 0px 20px 0px;
}
.HDeSPS12{
	background-image: url(../howtodesign/img/s12.jpg);
	background-repeat: no-repeat;
	width: 144px;
	height: 24px;
	margin: 0px;
}
.HDeSPP13{
	background-image:url(../howtodesign/img/p13.jpg);
	background-repeat:no-repeat;
	width:221px;
	height:139px;
	margin: 0px auto 0px auto;
}

/*--7--*/
.HDeSPT10{
	background-image:url(../howtodesign/img/t10.jpg);
	background-repeat:no-repeat;
	width:538px;
	height:30px;
	margin: 0px 0px 20px 0px;
}

.HDeSPP16{
	background-image:url(../howtodesign/img/p16.jpg);
	background-repeat:no-repeat;
	width:325px;
	height:240px;
	margin: 0px auto 0px auto;
}
/*--8--*/
.HDeSPT11{
	background-image:url(../howtodesign/img/t11.jpg);
	background-repeat:no-repeat;
	width:310px;
	height:28px;
	margin: 0px 0px 20px 0px;
}

.HDeSPP17{
	background-image:url(../howtodesign/img/p17.jpg);
	background-repeat:no-repeat;
	width:326px;
	height:241px;
	margin: 0px auto 0px auto;
}
/*--9--*/
.HDeSPT12{
	background-image:url(../howtodesign/img/t12.jpg);
	background-repeat:no-repeat;
	width:359px;
	height:28px;
	margin: 0px 0px 20px 0px;
}

.HDeSPP18{
	background-image:url(../howtodesign/img/p18.jpg);
	background-repeat:no-repeat;
	width:326px;
	height:241px;
	margin: 0px auto 0px auto;
}


/*--10--*/
.HDeSPT13{
	background-image:url(../howtodesign/img/t14.jpg);
	background-repeat:no-repeat;
	width:463px;
	height:28px;
	margin: 0px 0px 20px 0px;
}

.HDeSPP19{
	background-image: url(../howtodesign/img/p19.jpg);
	background-repeat: no-repeat;
	width: 270px;
	height: 280px;
	margin: 0px auto 0px auto;
}


/*-----*/
.HDeText{
	font-size:12px;
	line-height:150%;
	margin:10px 0px 0px 0px;
	color:#8c8c8c;
}
.HD_L{
	float: left;
	width:420px;
	margin: 0px 0px 0px 80px;
}
.HD_R{
	float: right;
	width:350px; 
}
.DeLText{
	text-decoration: line-through;
}
