@charset "utf-8";
/* CSS Document */

.TableAllL{
 	width:100%;
     border: #b3b3b3 1px solid;
     margin:0 auto;
}
.TableLeft{
	width: 20%;
     background-color:#8c8c8c;
     color:#FFFFFF;
     font-weight:bold;
     padding-left:20px;
	line-height:160%;

}
.TableRight{
	width: 80%;
	text-align:left;
	border-bottom:dotted 1px #6e6d6d;
	padding-left:10px;
	line-height:160%;
	color: #666666;
             
				
}
.title {
	padding-left:0px;
}

#tabs ul {
	margin:0 auto !important;
}
