@charset "utf-8";
/* CSS Document */
.TitleSitemap{
	background-image: url(../img/sitemap_title.gif);
	background-repeat:no-repeat;
	background-size:100% 100%;
	width: 771px;
	height: 0px;
	padding-top: 34px;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 30px;
}
.subMenuSitemap{
		background:url(../sitemap/img/sub.jpg) no-repeat;
		background-repeat:no-repeat;
		width:90px;
		height:19px;
	}

.TextSitemap{
	line-height:180%;
	border-bottom:dotted 1px #6e6d6d;
}
.TableAllSite{
	width:650px;
	margin:auto;
	color:#797979;
	
}














